.superSkillsContainer {
    padding: 8vw 0 6vw 0;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.skills1 {
    height: 100%;
    width: 50%;
}

.skills1Container {
    width: auto;
    height: auto;
    gap: 1vw;
}

.skillsTitle {
    color: var(--negro);
    font-family: var(--mont);
    font-weight: bold;
    font-size: 6vw;
    line-height: 6vw;
    text-indent: 0;
    letter-spacing: -.2 vw;
}

.skills1SubTitle {
    color: var(--grisPrincipal);
    font-family: var(--lato);
    font-weight: normal;
    font-size: 2.8vw;
    line-height: 3vw;
    text-indent: 0;
}

.skills1P {
    color: var(--negro);
    font-size: .9vw;
    width: 38vw;
    font-family: var(--mont);
}

.skills2 {
    height: auto;
    width: 50%;
    padding: 0;
}

.skillsContainer {
    color: var(--negro);
    height: 35vw;
    width: 37vw;
    min-width: 37vw;
    font-family: var(--mont);
    padding: 2vw;
    border: 1px solid var(--negro);
    background-color: var(--pielDesvanecido);
}

.skillsContainerTitleContainer {
    gap: 1vw
}

.btnControlSkills {
    color: var(--negro);
    background-color: transparent;
    border: none;
    border-bottom: .1vw solid var(--negro);
    padding: 0 0 1vw 0;
    font-size: 1.2vw;
    font-family: var(--mont);
}

.skillsDetailsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}


.skillsDetailsTitle {
    gap: 1vw;
    padding: 2vw 0 1.5vw 1.3vw;
}

.btnFrontBack {
    color: var(--negro);
    width: max-content;
    background-color: transparent;
    border: none;
    font-size: 1vw;
}

.selected {
    color: var(--rojoPrincipal);
    font-weight: bold;
    border-bottom: .3vw solid var(--rojoPrincipal);
}

.isSelected {
    color: var(--rojoPrincipal);
    font-weight: bold;

}

.my-node-enter {
    opacity: 0;
}

.my-node-enter-active {
    opacity: 1;
    transition: opacity 500ms;
}

.my-node-exit {
    opacity: 0;
}

.my-node-exit-active {
    opacity: 1;
    transition: opacity 500ms;
}

.btnAnto{
    display: flex;
    width: max-content;
    height: 3.4vw;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: var(--rojoPrincipal);
    border: none;
    color: var(--blanco);
    font-family: var(--lato);
    font-size: .9vw;
    font-weight: 700;
    margin: 1vw 0 0 0;
    padding: 0vw .6vw;
}
.arrowRight{
    font-size: .9vw;
    margin: 0 0 0 .5vw;
}

@media (max-width: 992px) {
    .superSkillsContainer {
        height: 100%;
        padding: 40vw 0;
    }

    .skills1 {
        width: 100%;
        padding: 5vw 6vw;
    }

    .skills1Container {
        height: auto;
        width: max-content;
    }

    .skillsTitle {
        font-size: 15vw;
        line-height: 20vw;
    }

    .skills1SubTitle {
        font-size: 10vw;
        line-height: 8vw;
    }

    .skills1P {
        width: fit-content;
        font-size: 3.5vw;
        padding: 5vw 0 0 0;
    }

    .skills2 {
        height: auto;
        width: 100%;
        padding: 5vw;
    }

    .selected {
        border-bottom: .9vw solid var(--rojoPrincipal);
    }

    .skillsContainer {
        height: auto;
        width: 100vw;
        padding: 7vw 0 7vw 0;
        min-width: none;
    }

    .skillsDetailsTitle {
        padding: 7vw 0 7vw 0;
        gap: 3vw;
        text-align: center;
        width: auto;
    }

    .btnControlSkills {
        font-size: 4vw;
    }

    .btnFrontBack {
        font-size: 3.5vw;
    }

    .skillsDetailsContainer {
        padding: 0 5vw 10vw 5vw;


    }

    .btnControlSkills {
        font-size: 4vw;
    }

    .btnFrontBack {
        font-size: 3.5vw;
    }

    .skillsDetailsContainer {
        height: auto;
        width: 100%;
        padding: 0 0 5vw 0;
    }

}

/* @media (max-height: 700px) {
    .superSkillsContainer {
        height: 100%;
        padding: 5vw 0;
    }
} */