.certificationsContainer {
    height: 100vh;
}

.certi1,
.certi2 {
    width: 50%;
}

.certiTitle {
    color: var(--negro);
    font-family: var(--mont);
    font-weight: bold;
    font-size: 6.5vw;
    line-height: 6vw;
    text-indent: -7.5px;
}

.certiSubTitle {
    color: var(--grisPrincipal);
    font-family: var(--lato);
    font-weight: normal;
    font-size: 3vw;
    line-height: 1;
    text-indent: -4px;
}

.titleCerti {
    padding: 1.7vw;
    margin: 0;
    font-family: var(--mont);
    font-weight: bold;
    font-size: 1.7vw;
    color: var(--negro);
}

.mySwiper {
    height: auto;
    width: 25vw;
}

.imgCarrusel {
    border: 1px solid var(--negro);
    height: 20vw;
    width: 25vw;
}

.btnNavigation {
    cursor: pointer;
    font-size: 5vw;
    color: var(--negro);
    margin: 0 0 5.5vw 0;
}

.btnMore {
    text-align: center;
    width: 6vw;
    height: 2vw;
    background-color: var(--rojoPrincipal);
    border: none;
    color: var(--blanco);
    font-family: var(--lato);
    font-size: 1vw;
    font-weight: 700;
    margin: 0;
    padding: 0;
    transition: transform .5s ease;
}

.btnMore:hover {
    transform: scale(1.2);
    transition: transform .5s ease;
}

.swiper-slide {
    background-color: var(--piel);
}

.modal {
    backdrop-filter: blur(10px);
}

.modal-content {
    border-radius: 0 !important;
    height: max-content !important;
    width: 60vw !important;
    min-width: 45vw !important;
}

.textModalContainer {
    padding: 1vw;
    height: max-content;
}

.modal-dialog {
    max-width: 100% !important;
}

.modal-header {
    padding: 1vw !important;
}

.modal-body {
    padding: 2vw !important;
}

.imgModal {
    height: 20vw;
}

@media (max-width: 992px) {
    .certificationsContainer {
        height: 100%;
        padding: 40vw 0;
    }

    .certiSubTitle {
        font-size: 8vw;
        line-height: 1;
        text-indent: -4px;
        margin: 0;
    }

    .certiTitle {
        font-size: 13vw;
        margin: 0;
        line-height: 12vw;
    }

    .certi1 {
        padding: 5vw;
        width: 100%;
    }

    .certi2 {
        width: 100%;
    }
    .imgCarrusel {
        height: 60vw;
        width: 70vw;
    }
    .mySwiper {
        width: 70vw;
    }
    .titleCerti {
        font-size: 5vw;
    }
    .btnNavigation {
        cursor: pointer;
        font-size: 13vw;
    }
}