footer {
    position: relative;
    background-color: #000000;
    color: var(--blanco);
}

.containerLinkFooter {
    gap: 1vw;
}

.hrFooter {
    width: 15vw;
    height: .1vw;
    flex-shrink: 0;
    opacity: 1;
    border-radius: 10px;
    background-color: var(--blanco);
}

.footerLink {
    color: var(--blanco);
    height: fit-content;
    display: flex;
    font-size: 1.5vw;
}

.footerLink:hover {
    color: var(--rojoPrincipal);
}

.LogoWhite {
    height: 7vw;
}

.pFooter {
    color: var(--blanco);
    font-family: var(--mont);
    font-size: 1vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media (max-width: 992px) {
    .LogoWhite {
        height: 15vw;
    }
    .pFooter {
        font-size: 2.7vw;
    }
    .footerLink {
        font-size: 4.5vw;
    }
    .hrFooter {
        width: 25vw;
    }
    .containerLinkFooter {
        gap: 2vw;
    }
}