.indexContainer {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5vw 0 0 0;
}

.heroContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.titleContainer {
    height: 100%;
    width: 100%;
    gap: 1.5vw;
    padding: 0 0 0 3.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.samuraiContainer {
    width: auto;
    height: 100%;
    padding: 0 1.5vw 0 0;
}

.samurai {
    height: 45vw;
}

.title {
    display: inline-flexbox;
    height: max-content;
    width: 100%;
    color: var(--negro);
    font-family: var(--mont);
    font-weight: bold;
    font-size: 7vw;
    line-height: 6vw;
    text-indent: -.4vw;
    letter-spacing: -.4vw;
    flex-wrap: nowrap;
}

.subTitle {
    color: var(--rojoPrincipal);
    font-family: var(--lato);
    font-weight: normal;
    font-size: 2.5vw;
    line-height: 1.5vw;
    text-indent: 0;
}

.Lorenzo {
    width: 100%;
    color: var(--negro);
}

#Lorenzo {
    transition: text-shadow .3s ease;
}


#Lorenzo:hover {
    cursor: pointer;
    text-shadow: .4vw .3vw 0px var(--rojoPrincipal);
}



.letterType {
    margin: 0 0 0 .8vw;
    font-weight: bold;
    color: var(--rojoPrincipal);
    z-index: 0;
}

.btnPrincipal {
    display: flex;
    width: auto;
    height: 2.5vw;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: var(--rojoPrincipal);
    border: none;
    color: var(--blanco);
    font-family: var(--lato);
    font-size: 1vw;
    font-weight: 700;
    margin: 1vw 0 0 0;
    padding: 0 .4vw;
}

.SH {
    font-size: 1.5vw;
    margin: 0 0 0 7px;
}

.inter {
    height: 20vw;
    background-color: #080808;
}

.inter>h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6vw;
    font-family: var(--mont);
    color: white;
    padding: 0;
    margin: 0;
}

.interIcon {
    font-size: 2.8vw;
    margin-left: 1vw;
}

.typewriter-container{
    color: var(--rojoPrincipal);
}

.typewriter-cursor{
    color: var(--rojoPrincipal);

}

@media (max-width: 992px) {
    .indexContainer {
        height: 100%;
    }

    .heroContainer {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        padding: 40vw 0 0 0;
    }

    .titleContainer {
        height: max-content;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100%;
        width: 100%;
        gap: 3vw;
        padding: 0;
    }

    .samuraiContainer {
        width: 100%;
        height: 100%;
        padding: 20vw 0 0 0;
    }

    .samurai {
        padding: 0px 0 0 0;
        height: 100vw;
    }

    .title {
        display: block;
        font-size: 8vw;
        text-align: center;
        padding: 0;
        margin: 0;
        letter-spacing: -.5vw;
        line-height: 1vw;
        gap: 10vw;
        margin-bottom: 5vw;
    }

    .subTitle {
        color: var(--rojoPrincipal);
        line-height: 11vw;
        font-size: 6vw;
    }

    #Lorenzo {
        font-size: 22vw;
        text-shadow: .9vw .4vw 0px var(--rojoPrincipal);
    }

    .btnPrincipal {
        font-size: 4vw;
        width: 100px;
        min-width: max-content;
        height: auto;
        padding: 2vw 2vw;
    }

    .inter {
        height: 20vw;
        padding: 3vw 4vw;
    }

    .inter>h2 {
        font-size: 3.5vw;
    }

    .interIcon {
        font-size: 4.5vw;
        margin-left: 1.5vw;
    }

    .SH {
        font-size: 20px;
    }

    .letterType {
        margin: 0 0 0 1.2vw;
    }
}