.navBarPrincipal {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: max-content;
    background-color: transparent;
}

.navBar2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    width: 100%;
}

.btnNavContainer{
    height: auto;
    display: flex;
    flex-direction: row;
    background-color: transparent;
}

.navIcono {
    margin: 0 0 0 50px;
}

.logoPrincipal {
    height: 5.5vw;
    padding: 0 1vw;
}

.listContainer {
    width: 100VW;
}


.navList {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    padding: 0 2vw 0 0;
}

.navItemContainer {
    display: flex;
    align-items: center;
    width: max-content;
    text-align: center;
}

.navItem {
    font-family: var(--mont);
    font-size: .9vw;
    font-style: normal;
    font-weight: 400;
    min-width: max-content;
    color: var(--negro);
}

.navItem[data-isOn="true"] {
    color: white;
}


.navItem:hover {
    color: var(--rojoPrincipal);
}

.switch {
    width: 2.7vw;
    height: auto;
    background-color: var(--negro);
    display: flex;
    justify-content: flex-start;
    border-radius: 50px;
    padding: .2vw;
    cursor: pointer;
}

.switch[data-isOn="true"] {
    justify-content: flex-end;
    background-color: white;
}

.handle {
    width: 1.2vw;
    height: 1.2vw;
    background-color: var(--piel);
    border-radius: 40px;
    padding: 0;
    margin: 0;
}

.navIcono {
    font-size: 1.1vw;
    color: var(--negro);
    margin: 0 0 0 1vw;
    padding: 0;
}


@media (max-width: 992px) {
    .navBarPrincipal {
        position: absolute;
        /* Posición absoluta */
        top: 0;
        width: 100%;
        /* Ancho del viewport */
        z-index: 1000;
        height: 0;
        padding: 0 2vw;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        transition: height .5s ease, clip-path .7s ease;
    }

    .navBar2 {
        clip-path: polygon(0 0, 100% 0%, 100% 0, 0 0);
        height: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:start;
        gap: 0px;
        padding: 0;
        transition: height .5s ease, clip-path .7s ease;
        background-color: #f6debffb;
    }

    .navList {
        clip-path: polygon(0 0, 100% 0%, 100% 0, 0 0);
        height: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        gap: 0px;
        padding: 0;
        transition: height .5s ease, clip-path .7s ease;
    }

    .collapsar {
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
        height: 100%;
        transition: height .5s ease, clip-path .7s ease;
    }

    .btnNavContainer{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        background-color: #f6debffb;
    }

    .listContainer {
        width: 100%;
    }

    .logoPrincipal {
        height: 15vw;
        margin: 1vw;
    }

    #hambur {
        font-size: 15vw;
        height: 10vw;
        color: var(--negro);
        cursor: pointer;
        margin: 1vw;
    }

    .navItem {
        font-size: 7vw;
    }

    .navItem:active {
        color: var(--rojoPrincipal);
    }
}

@media (max-height:500px) {
    .navBarPrincipal {
        position: relative !important;
    }
}