.projectsSection {
    padding: 5vw 4vw;
    height: 100%;
}

.projectsTitleContainer {
    padding: 0vw 0 3vw 0;
}

.projectTitle {
    color: var(--negro);
    font-family: var(--mont);
    font-weight: bold;
    font-size: 6vw;
    line-height: 6vw;
    text-indent: -.6vw;
    letter-spacing: -0.1vw;
}

.projectSubTitle {
    color: var(--grisPrincipal);
    font-family: var(--lato);
    font-weight: normal;
    font-size: 3vw;
    line-height: 3.5vw;
    text-indent: -0.4vw;
}

.projectsCate {
    gap: 3vw;
}

.btnProjects {
    color: var(--negro);
    background-color: transparent;
    border: none;
    border-bottom: .1vw solid var(--negro);
    padding: 0 0 1vw 0;
    font-size: 1.2vw;
    font-family: var(--mont);
}

.selected {
    color: var(--rojoPrincipal);
    font-weight: bold;
    border-bottom: .2vw solid var(--rojoPrincipal);
}

.projectImg {
    width: 100%;
    height: auto;
    max-width: 100%;
    border: .1vw solid var(--negro);
}

.projectsContainerGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    padding: 5vw 0vw;
}

.projectInfoContainer {
    position: relative;
}

.projectInfo {
    color: var(--blanco);
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    font-size: 2.5vw;
    bottom: 0px;
    transition: height .2s ease, clip-path .2s ease;
    border: .1vw solid var(--negro);
    gap: 5vw;
    background-color: rgba(0, 0, 0, 0.644);
}

.isHover {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    height: 100%;
    transition: height .2s ease, clip-path .2s ease;
    background-color: rgba(0, 0, 0, 0.822);
}

.projectOpc {
    cursor: pointer;
}

.projectOpc:hover {
    color: var(--rojoPrincipal);
}

.down {
    font-size: 2.5vw;
}

.aProject {
    height: 2.5vw;
    width: 2.5vw;
    color: var(--blanco);
}

.modal {
    transform: translate3d(0, 0, 0) !important;
}

.modelProjectsContent {
    border-radius: 0 !important;
    height: auto !important;
    width: 30vw !important;
    min-width: 30vw !important;
}

.modal-dialog {
    max-width: 100% !important;
}

.modal-body-projects {
    padding: 0;
}

.imgTecnoModal {
    height: 2vw;
}

.imgModalProjects {
    height: 16vw;
    width: 100%;
    object-fit: cover;
}

.modalFooter {
    padding: 2.5vw 0 2.5vw 0;
}

.textModal {
    padding: 3vw 7vw 0 7vw;
}

.textModalContainer {
    padding: 0;
}

@media (max-width: 992px) {
    .projectsSection {
        padding: 40vw 0 20vw;
    }

    .modelProjectsContent {
        width: 79vw !important;
    }

    .projectsTitleContainer {
        gap: 1vw;
        padding: 0 8vw 0 8vw;
    }

    .projectsContainer {
        padding: 10vw 8vw 0 8vw;
    }

    .projectsCate {
        gap: 7vw;
        justify-content: center;
    }

    .btnProjects {
        font-size: 3.5vw;
    }

    .projectTitle {
        font-size: 15vw;
        line-height: 20vw;
        text-indent: -.6vw;
        letter-spacing: -0.1vw;
    }

    .projectSubTitle {
        font-size: 8vw;
        line-height: 3.5vw;
    }

    .imgModalProjects {
        height: 40vw;
        width: 100%;
        object-fit: cover;
    }

    .imgTecnoModal {
        height: 6vw;
    }

    .projectInfo {
        padding: 0vw;
        height: 100%;
        clip-path: none;
        font-size: 10vw;
        gap: 15vw;
        background-color: transparent;
        color: var(--blanco);
    }

    .projectOpc {
        opacity: 0;
        height: 100%;
        width: 100%;
    }


    .down {
        font-size: 10vw;
        padding: 0 0 3vw 0;
        display: none;
    }

    .aProject {
        display: none;
    }

    .projectImg {
        width: 100%;
        height: auto;
        max-width: 100%;
        border: .1vw solid var(--negro);
        border-bottom: none;
    }

    .projectsContainerGrid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50vw, 1fr));
        grid-gap: 10vw;
        padding: 10vw 3vw 10vw 3vw;
        place-content: center;
    }
}