.listSkills{
    height: 100%;
    width: 100%;
    gap: 2vw;
}
.progress{
    height: 1vw !important;
    width: 25vw;
    border-radius: 50px !important;
    
}
.progress-bar{
    font-family: var(--mont);
    color: var(--negro);
}
.progressBarImg {
    height: 3vw;
    padding: 0 .7vw 0 0;
}
.pBar{
    font-size: .8vw;
}

@media (max-width: 992px) {
    .listSkills{
        width: 100%;
        height: 100%;
        gap: .5vw;
    }
    .listSkills > li{
        gap: 1vw;
    }
    .progressBarImg{
        height: 14.3vw;
    }
    .progress{
        height: 4vw !important;
        width: 50vw;
        border-radius: 50px !important;
    }
    .pBar{
        font-size: 4vw;
    }
    .listSkills{
        gap: 8vw;

    }
    .pBar{
        font-size: 4vw;
    }
}
