@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;700&display=swap');

:root {
    --piel: #F6DEBF;
    --pielDesvanecido: #f6debfa8;
    --negro: #080808;
    --negroOpa: #000000de;
    --blanco: #ffffff;
    --blancoLink: #fff;
    --grisPrincipal: #1D1D1D;
    --rojoPrincipal: #EE1C25;
    --grisNubes: #3F3F3F;
    --mont: 'Montserrat', sans-serif;
    --lato: 'Lato', sans-serif;

}

* {
    user-select: none;
}
html,
body {
    overflow-x: hidden;
    margin: 0;
    position: relative;
}

#root {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--piel);

}

.modal-open{
    padding: 0 !important;
    margin: 0 !important;
}