@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;700&display=swap');

:root {
    --piel: #F6DEBF;
    --pielEspecial: rgba(246, 222, 191, 0.856);
    --negro: #000000;
    --blanco: #ffffff;
    --grisPrincipal: #1D1D1D;
    --rojoPrincipal: #EE1C25;
    --grisNubes: #3F3F3F;
    --mont: 'Montserrat', sans-serif;
    --lato: 'Lato', sans-serif;
}

* {
    user-select: none;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    margin: 0;
}

#root {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--piel);

}

.App {
    flex: 1;
}

footer {
    flex: 2;
}

a{
    color: transparent;
    text-decoration: none !important;
}